<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <!-- Used by nuget migration commands only. -->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="deploytools" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <add name="TextWriterListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Warning" />
    </switches>
    <sharedListeners>
      <add name="TextWriterListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime,Callstack" initializeData="deploytools.log" />
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <clear />
    <!-- TODO -->
    <add name="DataContext" connectionString="Server=localhost;Database=AspNetSkeleton;Uid=root;Pwd=admin;Protocol=pipe;PipeName=MYSQL57;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="AspNetSkeleton.DataAccess.MySql.MySqlDbConfiguration, AspNetSkeleton.DataAccess">
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  </configuration>