<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />

  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- ignored when architecture is configured as monolithic -->
  <add key="ServiceTimeOut" value="00:01:00" />  
  <!-- ignored when architecture is configured as monolithic -->
  <add key="ServiceBaseUrl" value="http://localhost:10800/" />
  <add key="UIBaseUrl" value="http://localhost:10801/" />
  <add key="AdminMailTo" value="admin@example.com" />

  <add key="ModelMetadataUrls" value="~/Models/, ~/Areas/Dashboard/Models/" />

  <add key="CurrentMajorVersion" value="1" />

  <add key="DefaultPageSize" value="25" />

  <add key="IsRegistrationEnabled" value="true" />
  <add key="PasswordTokenExpirationDays" value="1" />
  <add key="DefaultDeviceLimit" value="2" />

  <add key="MailFrom" value="no-reply@example.com" />
  <add key="SupportMailTo" value="support@example.com" />
  <add key="SupportMailCc" value="" />
  
  <!-- API settings when architecture is configured as monolithic  -->
  <add key="AuthTokenExpirationDays" value="7" />
  <add key="ApiBasePath" value="Api" />
  <add key="WorkerIdleWaitTime" value="00:00:05" />
  <add key="MailSenderBatchSize" value="8" />
</appSettings>