<?xml version="1.0" encoding="utf-8"?>
<AspNetSkeleton.AdminTools.Properties.Settings>
  <setting name="ApiUrl" serializeAs="String">
    <value>http://localhost:10801/Api</value>
  </setting>
  <setting name="ApiTimeout" serializeAs="String">
    <value>00:01:00</value>
  </setting>
</AspNetSkeleton.AdminTools.Properties.Settings>
