<?xml version="1.0" encoding="utf-8"?>
<AspNetSkeleton.Service.Host.Properties.Settings>
  <setting name="ServiceBaseUrl" serializeAs="String">
    <value>http://localhost:10800/</value>
  </setting>
  <setting name="ShutDownTimeout" serializeAs="String">
    <value>00:01:00</value>
  </setting>
  <setting name="UIBaseUrl" serializeAs="String">
    <value>http://localhost:10801/</value>
  </setting>
  <setting name="MailFrom" serializeAs="String">
    <value>no-reply@example.com</value>
  </setting>
  <setting name="AdminMailTo" serializeAs="String">
    <value>admin@example.com</value>
  </setting>
  <setting name="SupportMailTo" serializeAs="String">
    <value>support@example.com</value>
  </setting>
  <setting name="SupportMailCc" serializeAs="String">
    <value />
  </setting>
  <setting name="WorkerIdleWaitTime" serializeAs="String">
    <value>00:00:05</value>
  </setting>
  <setting name="MailSenderBatchSize" serializeAs="String">
    <value>8</value>
  </setting>
</AspNetSkeleton.Service.Host.Properties.Settings>
