<?xml version="1.0" encoding="utf-8" ?>
<!-- Used when architecture configured as distributed. -->
<!-- In the case of monolithic architecture see Web/UISettings.config. -->
<appSettings>
  <add key="ServiceTimeOut" value="00:01:00" />
  <add key="ServiceBaseUrl" value="http://localhost:10800/" />
  <add key="UIBaseUrl" value="http://localhost:10801/" />
  <add key="AdminMailTo" value="admin@example.com" />

  <add key="AuthTokenExpirationDays" value="7" />
  <add key="ApiBasePath" value="" />
</appSettings>
